$colors: (
    'common': (
        'white': #FFFFFF,
        'off-white': #F7F2ED,
        'black': #141414,
        'black-light': #2A2C2D,
        'red': #DE1518,
        'red-deep': #C0070A,
        'coffee': #9C362D,
        'coffee-deep': #B64400,
        'yellow': #FF9C05,
        'green': #108910,
        'paste': #10847E,
    ),
    'gray': (
        '1':#F1EFEE,
        '2':#55585B,
        '3':#F2F2F2,
        '4':#A2A3A3,
        '5':#f5f5f5,
        '6':#F9F9F9,
    ),
    'text': (
        'body':#6D6868,
    ),
    'theme': (
        '1': #141414,
    ),
    'border': (
        '1': #F2F2F2,
    )
);