@use './mixins' as *;

%include-bg{
	@include aq-background();
}

%transition{
	@include aq-transition();
}

// svg

%svg-1{
	@include aq-transform(translateY(-1px));
}

%svg-2{
	@include aq-transform(translateY(-2px));
}

%svg-3{
	@include aq-transform(translateY(-3px));
}

%svg-4{
	@include aq-transform(translateY(-4px));
}


/* transform */
%translateY2{
	@include aq-transform(translateY(-50%));
}
%translateX2{
	@include aq-transform(translateX(-50%));
}
%translate2{
	@include aq-transform(translate(-50%, -50%));
}


// bg thumbnails
%bg-thumb{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

// Before After
%aq-bfaf{
	position: absolute;
	content: '';
}

