/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.php_cs.cache
auth.json
composer.lock
package-lock.json
/public/assets/css/*.map
/public/assets/js/*.map
.vscode/
.idea/
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
/.white-list.json
