@use '../../../utils' as *;

/*----------------------------------------*/
/*  7.2 bags sale css
/*----------------------------------------*/

.aqb-sale{
    &-wrap{
        gap: 5px;
    }
    &-item{
        position: relative;
        overflow: hidden;
        &::after{
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(43, 16, 0, 0.00) 28.35%, rgba(43, 16, 0, 0.50) 100%);
        }
        &:hover{
            & .aqb-sale-thumb{
                & img{
                    transform: scale(1.1);
                }
            }
            & .aqb-sale-thumb-sm{
                opacity: 1;
                visibility: visible;

            }
        }
    }
    &-content{
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        margin: 60px;
    }
    &-title{
        font-size: 54px;
        font-weight: 400;
        line-height: .98;
        margin-bottom: 10px;
        letter-spacing: -1.08px;
        color: var(--aq-common-white);
        font-family: var(--aq-ff-libre);
    }
    &-content{
        & p{
            font-size: 15px;
            font-weight: 500;
            line-height: 30px;
            margin-bottom: 0;
            color: var(--aq-common-white);
            font-family: var(--aq-ff-onest);
        }
    }
    &-thumb{
        & img{
            transition: .9s;
        }
        &-sm{
            position: absolute;
            top: 0;
            right: 0;
            margin: 40px;
            padding: 8px;
            opacity: 0;
            z-index: 3;
            transition: .4s;
            visibility: hidden;
            border: 1px solid rgba(255, 255, 255, 0.30);
            background: rgba(255, 255, 255, 0.30);
            backdrop-filter: blur(5px);
        }
    }
}

.aqb-category{
    &-active{
        margin-right: -240px;
        & .swiper-horizontal > .swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, .swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
            width: 600px;
            height: 2px;
            left: 0;
            top: auto;
            bottom: 0;
            right: 0;
            margin: 0 auto;
            background: #D9D9D9;
        }
        & .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
            background: var(--aq-common-black);

        }
    }
    &-style{
        & .aqb-sale-thumb-sm {
            width: 60px;
            height: 70px;
            margin: 20px;
            padding: 3px;
            & img{
                height: 100%;
                width: 100%;
            }
        }
        & .aqb-sale-item::after {
            display: none;
        }
    }
    &-title{
        font-size: 16px;
        font-weight: 500;
        line-height: 1;
        color: var(--aq-common-black);
        font-family: var(--aq-ff-onest);
    }
}