@use '../../../utils' as *;

/*----------------------------------------*/
/*  7.2 bags hero slider css
/*----------------------------------------*/
.aqb-hero{
    &-video{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        object-fit: cover;
        background-size: cover;
        background-position: center center;
    }
    &-height{
        height: 960px;
    }
    &-subtitle{
        font-size: 36px;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 15px;
        display: inline-block;
        color: var(--aq-common-white);
        font-family: var(--aq-ff-libre);
    }
    &-title{
        font-size: 120px;
        font-weight: 400;
        line-height: .98;
        margin-bottom: 15px;
        letter-spacing: -3.6px;
        color: var(--aq-common-white);
        font-family: var(--aq-ff-libre);
    }
    &-content{
        & p{
            font-size: 21px;
            font-weight: 500;
            line-height: 30px;
            margin-bottom: 30px;
            letter-spacing: -0.105px;
            color: var(--aq-common-white);
            font-family: var(--aq-ff-onest);
        }
        &-wrap{
            padding: 60px 0;
        }
    }
    &-overlay{
        &::after{
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.4);
        }
    }
    &-info{
        padding: 8px;
        min-width: 270px;
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.10);
        background: rgba(255, 255, 255, 0.10);
        backdrop-filter: blur(5px);
        & ins{
            text-decoration: none;
        }
        &-thumb{
            flex: 0 0 auto;
            margin-right: 20px;
            & img{
                border-radius: 6px;
            }
        }
        &-title{
            font-size: 18px;
            line-height: 1;
            margin-bottom: 5px;
            letter-spacing: -0.18px;
            color: var(--aq-common-white);
            font-family: var(--aq-ff-satoshi-bold);
        }
        &-price{
            font-size: 13px;
            font-weight: 700;
            line-height: 20px;
            color: var(--aq-common-white);
            font-family: var(--aq-ff-satoshi-bold);
        }
    }
    &-ratting{
        margin-bottom: 2px;
        & span{
            color: var(--aq-common-white);
        }
    }
}