@use '../../utils' as *;

/*----------------------------------------*/
/*  7.2 feature css
/*----------------------------------------*/

.fr-hero{
    &-area{
        padding-top: 270px;
        padding-bottom: 160px;
    }
    &-overlay{
        &::after{
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, 0.3);
        }
    }
    &-video{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        background-size: cover;
    }
    &-info{
        padding: 60px 100px;
        border-radius: 40px;
        display: inline-block;
        & img{
            border-radius: 30px;
            margin-bottom: 30px;
        }
        & p{
            font-size: 20px;
            margin-bottom: 30px;
            color: rgba(13, 13, 13, 0.80);
            font-family: var(--aq-ff-satoshi-regular);
        }
        &-video{
            width: 200px;
            height: 80px;
            border-radius: 60px;
            object-fit: cover;
        }
    }
}

.fr-feature{
    &-wrap{
        padding: 17px 0;
    }
    &-icon{
        margin-right: 10px;
        color: var(--aq-common-black);
        & svg{
            transform: translateY(-1px);
        }
    }
    &-item{
        & span{
            font-size: 18px;
            line-height: 1;
            letter-spacing: 0.18px;
            color: var(--aq-common-black);
            font-family: var(--aq-ff-satoshi-regular);
        }
    }
}

.fr-category{
    &-item{
        height: 240px;
        width: 240px;  
        line-height: 1;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: all .3s;
        background-color: #F7F2ED;
        border: 1px solid transparent;
        & span{
            display: block;
            line-height: 1;
            font-size: 15px;
            font-weight: 500;
            text-transform: uppercase;
            color: var(--aq-common-black);
        }
        &:hover{
            border-radius: 20px;
            border-color: var(--aq-common-coffee);
        }
    }
    &-title{
        font-size: 30px;
        line-height: 1;
        margin-bottom: 45px;
        letter-spacing: -0.9px;
        color: var(--aq-common-black);
        font-family: var(--aq-ff-satoshi-regular);
    }
}

.fr-project{
    &-content{
        position: absolute;
        bottom: 40px;
        left: 40px;
        right: 40px;
        padding: 30px 20px;
        border-radius: 16px;
        background-color: var(--aq-common-off-white);
        & span{
            font-size: 13px;
            line-height: 24px;
            color: #4D3C2F;
            margin-bottom: 10px;
            display: inline-block;
            text-transform: uppercase;
            font-family: var(--aq-ff-satoshi-medium);
        }
    }
    &-link{
        color: #A3381C;
        font-size: 12px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
        font-family: var(--aq-ff-satoshi-bold);
        & svg{
            margin-left: 5px;
        }
    }
    &-item{
        overflow: hidden;
        border-radius: 20px;
    }
}

.fr-collection{
    &-bg{
        height: 950px;
        &::after{
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    &-img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        &::after{
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba($color: #000000, $alpha: 0.2);
        }
        & img{
            object-fit: cover;
            height: 100%;
        }
    }
    &-tab{
        &-btn{
            & ul{
                & li{
                    & button{
                        font-size: 18px;
                        line-height: 1;
                        margin-right: 20px;
                        letter-spacing: 0px;
                        color: var(--aq-common-white);
                        font-family: var(--aq-ff-satoshi-bold);
                        & span{
                            height: 34px;
                            width: 34px;
                            transition: .3s;
                            border-radius: 50%;
                            margin-right: 12px;
                            display: inline-block;
                            transform: translateY(-7px);
                            border: 2px solid rgba($color: #fff, $alpha: 0.2);
                            &::before{
                                height: 10px;
                                width: 10px;
                                content: '';
                                opacity: 0;
                                visibility: hidden;
                                border-radius: 50%;
                                display: inline-block;
                                transform: translateY(4px);
                                background-color: var(--aq-common-white);
                            }
                        }
                        &.active{
                            & span{
                                animation: animate-pulse 3s linear infinite;
                                border-color: rgba($color: #fff, $alpha: 0.8);
                                &::before{
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }
                        }
                    }
                    &:nth-child(1){
                        position: absolute;
                        top: 28%;
                        left: 16%;
                        z-index: 1;
                    }
                    &:nth-child(2){
                        position: absolute;
                        top: 45%;
                        left: 43.5%;
                        z-index: 1;
                    }
                    &:nth-child(3){
                        position: absolute;
                        bottom: 20%;
                        left: 33.5%;
                        z-index: 1;
                    }
                    &:nth-child(4){
                        position: absolute;
                        top: 12%;
                        right: 32.5%;
                        z-index: 1;
                    }
                }
            }
        }
        &-inner{
            border-radius: 24px;
        }
    }
    &-main{
        height: 100%;
    }
    &-product{
        &-item{
            overflow: hidden;
            border-radius: 24px;
            min-height: 525px;
            & .aq-product-content{
                padding: 0 30px 25px 30px;

            }
            & .aq-product-new-price,
            & .aq-product-old-price {
                display: block;
                text-align: end;
            }
            & .aq-product-old-price{
                margin-bottom: 7px;
            }
        }
    }
}

.fr-product{
    &-content{
        &-inner{
            padding-right: 20px;
        }
    }
}

.fr-blog{
    &-style{
        & .aq-blog-item{
            overflow: hidden;
            border-radius: 40px;
            background-color: var(--aq-common-off-white);
        }
        & .aq-blog-thumb {
            border-radius: 0;
        }
        & .aq-blog-content{
            padding: 40px;
            padding-bottom: 35px;
        }
        & .aq-blog-meta-date {
            top: 20px;
            right: 20px;
            background-color: var(--aq-common-off-white);
        }
    }
    &-link{
        font-size: 15px;
        line-height: 1;
        color: var(--aq-common-black);
        font-family: var(--aq-ff-satoshi-medium);
    }
}

.fr-testimonial{
    &-ratting{
        margin-bottom: 15px;
        & span{
            color: var(--aq-common-black);
        }
    }
    &-title{
        font-size: 20px;
        line-height: 1;
        margin-bottom: 15px;
        letter-spacing: -0.4px;
        color: var(--aq-common-black);
        font-family: var(--aq-ff-satoshi-medium);
    }
    &-item{
        padding: 40px;
        padding-bottom: 20px;
        border-radius: 24px;
        background-color: var(--aq-common-off-white);
    }
    &-avater{
        margin-right: 13px;
        & img{
            height: 46px;
            width: 46px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    &-content{
        padding-right: 85px;
        & p{
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
            color: var(--aq-common-black);
            font-family: var(--aq-ff-satoshi-regular);
        }
    }
    &-thumb{
        flex: 0 0 auto;
        & img{
            border-radius: 14px;
        }
    }
    &-author{
        &-info{
            & h4{
                font-size: 16px;
                line-height: 1;
                margin-bottom: 0;
                color: var(--aq-common-black);
                font-family: var(--aq-ff-satoshi-bold);
            }
            & span{
                font-size: 15px;
                line-height: 1;
                color: var(--aq-common-black);
                font-family: var(--aq-ff-satoshi-regular);
            }
        }
    }
    &-top{
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid rgba($color: #221D19, $alpha: 0.08);
    }
}