@use '../../utils' as *;

/*----------------------------------------*/
/*  7.2 shop-gram css
/*----------------------------------------*/

.aq-shopgram{
    &-item{
        position: relative;
        overflow: hidden;
        margin-bottom: 7px;
        & img{
            transition: .9s;
        }
        &:hover{
            &.aq-shopgram-overlay {
                &::after{
                    opacity: 1;
                    visibility: visible;
                }
            }
            & .aq-shopgram-icon{
                opacity: 1;
                visibility: visible;
            }
            & img{
                transform: scale(1.1);
            }
        }
    }
    &-overlay{
        &::after{
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            opacity: 0;
            visibility: hidden;
            width: 100%;
            height: 100%;
            @include aq-transition();
            background-color: rgba($color: #000000, $alpha: 0.2);
        }
    }
    &-icon{
        position: absolute;
        top: 16px;
        right: 16px;
        height: 32px;
        width: 32px;
        z-index: 2;
        opacity: 0;
        display: flex;
        visibility: hidden;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        @include aq-transition();
        color: var(--aq-common-white);
        background-color: var(--aq-common-black);
        &:hover{
            color: var(--aq-common-black);
            background-color: var(--aq-common-white);
        }
        & svg{
            transform: translate(1px, -3px);
        }
    }
}
