@use '../../utils' as *;

/*----------------------------------------*/
/*  7.2 testimonial css
/*----------------------------------------*/

.aq-testimonial{
    &-item{
        padding: 30px;
        transition: .3s;
        padding-left: 40px;
        background-color: var(--aq-common-white);
        &:hover{
            box-shadow: 0 20px 10px -10px rgba(0, 0, 0, 0.10);
        }
    }
    &-thumb{
      flex: 0 0 auto;  
    }
    &-ratting{
        margin-bottom: 11px;
        & span{
            color: var(--aq-common-black);
        }
    }
    &-title{
        font-size: 20px;
        line-height: 1.3;
        margin-bottom: 8px;
        letter-spacing: -0.4px;
        color: var(--aq-common-black);
        font-family: var(--aq-ff-satoshi-medium);
    }
    &-content{
        margin-right: 50px;
        & p{
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 0;
            color: var(--aq-common-black);
            font-family: var(--aq-ff-satoshi-regular);
        }
    }
    &-top{
        padding-bottom: 30px;
        border-bottom: 1px solid rgba(0, 7, 9, 0.08);
    }
    &-author{
        &-name{
            font-size: 16px;
            line-height: 1;
            margin-bottom: 6px;
            color: var(--aq-common-black);
            font-family: var(--aq-ff-satoshi-bold);
        }
        &-img{
            flex: 0 0 auto;
            height: 46px;
            width: 46px;
            overflow: hidden;
            border-radius: 50%;
            margin-right: 12px;
            & img{
                object-fit: cover;
            }
        }
        &-content{
            line-height: 1;
            & span{
                color: #757F82;
                font-size: 15px;
                font-weight: 500;
                line-height: 1;
                display: inline-block;
                font-family: var(--aq-ff-satoshi-medium);
            }
        }
    }
    &-active{
        margin-right: -355px;
        padding-bottom: 70px;
    }
}