@forward './tooltip';
@forward './product';
@forward './product-details';
@forward './countdown';
@forward './text-slide';
@forward './shop-gram';
@forward './feature';
@forward './brand';
@forward './fashion';
@forward './electronics';
@forward './bags';
@forward './testimonial';
@forward './cosmetics';
@forward './furniture';
@forward './grocery';
@forward './medical';
@forward './login';