@use '../utils' as *;

/*----------------------------------------*/
/*  2.7 Cartmini
/*----------------------------------------*/

.aq-cartmini{
    &-area {
        position: fixed;
        right: 0;
        top: 0;
        width: 460px;
        height: 100%;
        z-index: 999999999;
        scrollbar-width: none;
        box-shadow: 0 4px 24px #0000001f;
        transform: translateX(calc(100% + 80px));
        background: var(--aq-common-white) none repeat scroll 0 0;
        transition: 0.45s ease-in-out, opacity 0.45s ease-in-out;
        &.opened{
            transform: translateX(0);
        }
    }
    &-header{
        padding: 25px 30px;
        padding-bottom: 0;
    }
    &-body,
    &-footer{
        padding: 30px;
    }
    &-body{
        height: 560px;
        overflow: hidden;
        overflow-y: scroll;
        scrollbar-width: none;
        border-top: 1px solid var(--aq-gray-5);
    }
    &-shiping{
        padding: 25px 0;
        padding-top: 0;
        &-message{
            & p{
                font-size: 16px;
                line-height: 1.2;
                margin-bottom: 12px;
                display: inline-block;
                font-family: var(--aq-ff-onest);
                & b{
                    color: var(--aq-common-black);
                }
            }
        }
    }
    &-title{
        font-size: 24px;
        font-weight: 500;
        line-height: 1.1; 
        margin-bottom: 20px;
        letter-spacing: -1.02px;
        color: var(--aq-common-black);
        font-family: var(--aq-ff-onest);
    }
    &-close-icon{
        position: absolute;
        top: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
        display: flex;
        font-size: 20px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        color: var(--aq-common-black);
        background-color: #f5f5f5;
        border-radius: 50%;
        @include aq-transition();
        &:hover{
            transform: rotate(180deg);
        }
    }
    &-product{
        &-thumbnail{
            width: 110px;
            height: auto;
            margin-right: 25px;
            & img {
                object-fit: cover;
            }
        }
        &-size{
            display: block;
            line-height: 1;
            font-size: 14px;
            font-weight: 400;
            line-height: 1;
            margin-bottom: 7px;
            color: rgba(15, 15, 15, 0.7);
            font-family: var(--aq-ff-onest);
            & label{
                line-height: 1
            }
        }
        &-price{
            font-size: 16px;
            line-height: 1;
            margin-bottom: 13px;
            display: inline-block;
            color: var(--aq-common-black);
            font-family: var(--aq-ff-satoshi-bold);
        }
        &-item {
            & .aq-product-quantity {
                width: 110px;
            }
            & .aq-cart-input[type="text"] {
                height: 35px;
            }
        }
    }
    &-remove{
        line-height: 1.3;
        margin-left: 20px;
        &:hover{
            color: var(--aq-common-red);
        }
    }
    &-btn{
        display: flex;
        flex: 1;
        padding: 6px 12px;
        font-size: 14px;
        border-radius: 5px;
        font-weight: 500;
        align-items: center;
        justify-content: center;
        color: var(--aq-common-black);
        font-family: var(--aq-ff-onest);
        background-color: var(--aq-gray-5);
        & svg{
            margin-right: 5px;
            transform: translateY(-2px);
        }
        &-wrap{
            display: flex;
            column-gap: 5px;
            margin-bottom: 24px;
        }
        &:hover{
            color: var(--aq-common-white);
            background-color: var(--aq-common-black);
        }
    }
    &-total{
        margin-bottom: 20px;
        padding-bottom: 5px;
        &-title,
        &-value{
            font-size: 18px;
            font-weight: 600;
            line-height: 1.1; 
            color: var(--aq-common-black);
            font-family: var(--aq-ff-onest);
        }
        &-title{
            font-weight: 400;
        }
    }
    &-footer{
        box-shadow: 0 4px 24px #0000001f;
    }
    &-main-btn{
        gap: 10px;
    }
    &-tools{
        &-btn{
            gap: 10px;
        }
        &-text{
            font-size: 16px;
            line-height: 1;
            font-weight: 500;
            color: var(--aq-common-black);
            font-family: var(--aq-ff-onest);
            & svg{
                display: inline-block;
                margin-right: 4px;
                transform: translateY(-2px);
            }
        }
        &-box{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 30px;
            transform: translateY(100%);
            transition: transform 0.25s ease-in-out;
            background-color: var(--aq-common-white);
            box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1215686275);
            &.opened{
                transform: translateY(0);
            }
        }
        &-field{
            & input,
            & textarea{
                font-size: 15px;
                font-weight: 500;
                border: 1px solid transparent;
                background-color: var(--aq-gray-5);
                &:focus{
                    background-color: transparent;
                    border-color: var(--aq-common-black);
                }
                @include aq-placeholder{
                    font-size: 15px;
                    font-weight: 500;
                    color: var(--aq-common-black);
                }
            }
            & textarea{
                height: 130px;
                resize: none;
            }
            & label{
                margin-bottom: 4px;
                font-size: 15px;
                font-weight: 500;
            }
        }
    }
}

.aq-progress{
    &-bar{
        position: relative;
        margin-top: 15px;
        margin-bottom: 11px;
        height: 4px;
        width: 100%;
        background-color: var(--aq-gray-5);
        & > div {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            bottom: 0;
            border-radius: 3px;
            background-color: var(--aq-common-black);
        }
        & .progress-car {
            position: absolute;
            right: 0;
            top: 50%;
            width: 35px;
            height: 35px;
            display: flex;
            align-items: center;
            border-radius: 50%;
            justify-content: center;
            transform: translateY(-50%);
            color: var(--aq-common-black);
            border: 1px solid var(--aq-common-black);
            background-color: var(--aq-common-white);
        }
    }
}

