@use '../utils' as *;

/*----------------------------------------*/
/*  2.7 Accordion
/*----------------------------------------*/

// modal common css
.modal {
    overflow-y: scroll;
    overflow-x: hidden;
    --bs-modal-border-width: 0;
    --bs-modal-border-radius: 0;
    & .modal-dialog {
        width: 100%;
        max-width: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }
    & .modal-header {
        padding: 0;
        border-bottom: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    & .modal-body {
        padding: 0;
    }
}
.modal-wrapper {
    position: relative;
    z-index: 55;
}
.btn-close {
    position: absolute;
    top: 35px;
    right: 35px;
    z-index: 9;
    padding: 0;
    margin: 0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: var(--aq-common-black);
    background-color: #fff !important;
    border: 1px solid rgba(25, 25, 26, 0.20);
    opacity: 1;
    transition: .3s;

    &:hover {
        border-color: var(--aq-common-black) !important;
        transform: rotate(180deg);
    }

    &:focus {
        outline: 0;
        box-shadow: none;
        opacity: 1;
    }
}


// Quickview popup
.aq-product{
    &-modal{
        & .modal-dialog{
            width: 1000px;
        }
        & .modal-content {
            padding: 20px;
        }
        & .aq-product-modal-close-btn {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 40px;
            height: 40px;
            display: flex;
            font-size: 20px;
            align-items: center;
            justify-content: center;
            color: var(--aq-common-black);
            background-color: #f5f5f5;
            border-radius: 50%;
            & i{
                @include aq-transition();
            }
            &:hover{
                & i{
                    transform: rotate(180deg);
                }
            }
        }
    }
}

.aq-modal-slider{
    &-arrow{
        & button{
            position: absolute;
            top: 50%;
            left: 10px;
            height: 40px;
            width: 40px;
            display: flex;
            z-index: 33;
            opacity: 0;
            visibility: hidden;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            @include aq-transition();
            transform: translateY(-50%);
            color: var(--aq-common-black);
            background-color: var(--aq-common-white);
            &.aq-modal-next{
                left: auto;
                right: 10px;
            }
            &:hover{
                color: var(--aq-common-white);
                background-color: var(--aq-common-black);
            }
        }
    }
    &-active{
        &:hover{
            cursor: pointer;
            & .aq-modal-slider-arrow{
                & button{
                    opacity: 1;
                    visibility: visible;
                }
            }
            & .aq-modal-prev{
                margin-left: 20px;
            }
            & .aq-modal-next{
                margin-right: 20px;
            }
        }
    }
    &-wrap{
        padding-right: 20px;
    }
}

// wishlist popup
.aq-wishlist{
    &-popup{
        position: fixed;
        top: 55%;
        left: 50%;
        opacity: 0;
        z-index: 99999979;
        visibility: hidden;
        transition: 0.45s ease-in-out;
        transform: translate(-50%, -50%,);
        &-wrap{
            width: 100%;
            height: auto;
            max-width: 800px;
            margin: 0 auto;
            background-color: var(--aq-common-white);
        }
        &-top{
            padding: 10px 30px;
            background-color: var(--aq-common-black);
        }
        &-bottom{
            padding: 19px 30px;
            background-color: #f5f5f5;
            & a{
                line-height: 1.3;
                display: inline-block;
                color: var(--aq-common-black);
                text-transform: uppercase;
            }
        }
        &-middle{
            padding: 30px;
        }
        &-item{
            &:not(:last-child){
                margin-bottom: 10px;
            }
        }
        &-thumb{
            & img{
                width: 80px;
                height: 95px;
                object-fit: cover;
                margin-right: 20px;
            }
        }
        &-remove{
            cursor: pointer;
            margin-right: 20px;
            @include aq-transition();
            & i{
                font-size: 16px;
            }
            &:hover{
               color: var(--aq-common-red);
            }
        }
        &-title{
            cursor: pointer;
            @include aq-transition();
            &:hover{
                color: var(--aq-common-red);
            }
        }
        &-title,
        &-name,
        &-count{
            font-size: 16px;
            line-height: 1.1;
            color: var(--aq-common-black);
            font-family: var(--aq-ff-onest);
        }
        &-price{
            font-size: 14px;
            font-weight: 400;
            color: rgba(1, 15, 28, 0.8);
            font-family: var(--aq-ff-onest);
        }
        &-name,
        &-count{
            color: var(--aq-common-white);
        }
        &-text{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
            padding: 17px 30px;
            background-color: #E1EEB7;
            & p{
                margin-bottom: 0;
                color: var(--aq-common-black);
            }
        }
    }
    &-active{
        &.opened{
            top: 50%;
            opacity: 1;
            visibility: visible;
            transform: translate(-50%, -50%);
        }
    }
    &-close{
        cursor: pointer;
        font-size: 18px;
        @include aq-transition();
        color: rgba($color: #fff, $alpha: 0.6);
        &:hover{
            color: var(--aq-common-white);
        }
    }
}

// compare canvas
.aq-compare{
    &-canvas{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 99999979;
        transition: 0.45s ease-in-out;
        transform: translateY(100%);
        &-close{
            position: absolute;
            top: 24px;
            right: 24px;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--aq-common-black);
            background-color: #f5f5f5;
            border-radius: 50%;
            cursor: pointer;
            & svg{
                transition: 0.3s ease-in-out;
                transform: translate(1px, 1px);
            }
            &:hover{
                & svg{
                    transform: rotate(180deg);
                }
            }
        }
    }
    &-item{
        width: 260px;
        flex: 0 0 auto;
        &-wrap{
            display: flex;
            gap: 40px;
            flex: 1 1 60%;
            padding: 5px 0;
            align-items: center;
            overflow: auto hidden;
        }
    }
    &-thumb{
        width: 100px;
        height: auto;
        flex: 0 0 auto;
        margin-right: 15px;
        & img{
            object-fit: cover;
        }
    }
    &-wrap{
        gap: 40px;
    }
    &-content{
        flex: 0 0 auto;
    }
    &-title{
        font-size: 24px;
        line-height: 1.1;
        color: var(--aq-common-black);
        font-family: var(--aq-ff-satoshi-bold);
    }
    &-remove{
        position: absolute;
        top: -5px;
        right: -5px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        cursor: pointer;
        border-radius: 50%;
        color: var(--aq-common-white);
        background-color: var(--aq-common-black);
    }
    &-active{
        &.opened{
            transform: translateY(0);
        }
    }
    &-btn{
        &-box{
           padding: 35px 0;
        }
    }
}



// login modal
.aq-login-modal{
    &-style{
        & .modal {
            & .modal-dialog{
                width: 480px;
            }
            & .modal-content{
                border-radius: 16px;
            }
        }
        & .btn-close{
            top: 25px;
            right: 25px;
            width: 30px;
            height: 30px;
            border: none;
        }
    }
}