@use '../../utils' as *;
/*----------------------------------------*/
/*  3.1 Header Style 1
/*----------------------------------------*/

.aq-header{
    &-top{
        &-bdr{
            border-bottom: 1px solid rgba(29, 29, 29, 0.06);
        }
        &-menu{
            &-item{
                position: relative;
                &:not(:last-child){
                    padding-right: 25px;
                    margin-right: 18px;
                    &::after {
                        position: absolute;
                        content: "";
                        right: 0;
                        top: 50%;
                        width: 1px;
                        height: 20px;
                        transform: translateY(-50%);
                        background-color: rgba($color: #141414, $alpha: 0.1);
                    }
                }
                & > span{
                    position: relative;
                    font-size: 14px;
                    line-height: 1;
                    cursor: pointer;
                    color: var(--aq-common-black);
                    font-family: var(--aq-ff-satoshi-medium);
                    &::after{
                        content: "";
                        height: 8px;
                        width: 8px;
                        margin-left: 6px;
                        display: inline-block;
                        -webkit-transform: rotate(45deg) translateY(-5px);
                        -ms-transform: rotate(45deg) translateY(-5px);
                        transform: rotate(45deg) translateY(-5px);
                        -webkit-transition: all 0.15s ease-in-out;
                        transition: all 0.15s ease-in-out;
                        border-bottom: 1px solid currentColor;
                        border-right: 1px solid currentColor;
                    }
                }
                & ul {
                    position: absolute;
                    top: 125%;
                    left: 0;
                    z-index: 1;
                    opacity: 0;
                    text-align: start;
                    padding: 10px 15px;
                    visibility: hidden;
                    min-width: max-content;
                    transition: all 0.2s 0s ease-out;
                    background-color: var(--aq-common-white);
                    box-shadow: 0px 1px 3px rgba(3, 4, 28, 0.12);
                    & li{
                        list-style-type: none;
                        & a{
                            font-size: 14px;
                            color: var(--aq-common-black);
                            font-family: var(--aq-ff-satoshi-medium);
                        }
                    }
                    &.aq-lang-list-open,
                    &.aq-currency-list-open,
                    &.aq-setting-list-open {
                        top: 100%;
                        visibility: visible;
                        opacity: 1;
                    }
                }
                &.grc-top-menu{
                    padding-right: 15px;
                    & span{
                        &::after{
                            content: none;
                        }
                    }
                }
            }
        }
        &-style{
            &-2 {
                padding: 7px 0;
                & .aq-header-top-left-options {
                    padding-right: 10px;
                }
                & .aq-header-top-menu-item > span {
                    color: var(--aq-common-white);
                }
                & .aq-header-top-menu-item:not(:last-child)::after {
                    background-color: rgba($color: #fff, $alpha: 0.1);
                }
            }
            &-3{
                padding: 8px 0;
                padding-top: 10px;
                & .aq-header-discount-active{
                    margin: 0 60px;
                }
                & .aq-header-discount-item p {
                    text-transform: uppercase;
                }
            }
            &-4{
                padding: 8px 0;
                & .aq-header-info-item span, 
                & .aq-header-info-item a {
                    color: var(--aq-common-black);
                }
                & .aq-header-info-item i {
                    color: var(--aq-common-black);
                }
                & .aq-header-discount-item p {
                    color: var(--aq-common-black);
                }
            }
        }
        &-border{
            border-bottom: 1px solid rgba(29, 29, 29, 0.06);
        }
    }
    &-info{
        &-item{
            position: relative;
            &:not(:last-child){
                padding-right: 20px;
                margin-right: 20px;
                &::after {
                    position: absolute;
                    content: "";
                    right: 0;
                    top: 50%;
                    width: 1px;
                    height: 20px;
                    transform: translateY(-50%);
                    background-color: rgba($color: #fff, $alpha: 0.1);
                }
            }
            & i{
                margin-right: 7px;
                transform: translateY(-1px);
                color: var(--aq-common-white);
            }
            & span,
            & a{
                font-size: 14px;
                line-height: 1.3;
                color: var(--aq-common-white);
                font-family: var(--aq-ff-satoshi-medium);
            }
        }
    }
    &-right{
        &-options{
            padding-right: 12px;
            & > ul{
                & > li{
                    position: relative;
                    display: inline-block;
                    &:not(:last-child){
                        margin-right: 25px;
                        @media #{$md,$xs}{
                            margin-right: 15px;
                        }
                    }
                    & button,
                    & a{
                        color: var(--aq-common-black);
                    }
                    & .count-box{
                        position: absolute;
                        top: -4px;
                        right: -11px;
                        width: 20px;
                        height: 20px;
                        font-size: 12px;
                        font-weight: 700;
                        line-height: 20px;
                        text-align: center;
                        border-radius: 50%;
                        font-style: normal;
                        display: inline-block;
                        letter-spacing: -0.24px;
                        color: var(--aq-common-white);
                        background-color: var(--aq-common-coffee);
                        font-family: var(--aq-ff-satoshi-medium);
                        &::after{
                            position: absolute;
                            content: '';
                            top: 0;
                            left: 0;
                            height: 100%;
                            width: 100%;
                            z-index: -1;
                            border-radius: 50%;
                            transform: scale(1.2);
                            background-color: var(--aq-common-white);
                        }
                    }
                }
            }
            &.options-black{
                & .count-box {
                    color: var(--aq-common-white);
                    background-color: var(--aq-common-black);
                }
            }
            &.grc-header-right-option{
                & > ul {
                    & > li{
                        & .grc-option-style{
                            width: 40px;
                            height: 40px;
                            text-align: center;
                            border-radius: 20px;
                            display: inline-grid;
                            place-content: center;
                            color: var(--aq-common-white);
                            background: rgba(255, 255, 255, 0.14);
                            & i{
                                transform: translateY(-2px);
                            }
                        }
                        & .count-box{
                            width: 23px;
                            height: 23px;
                            text-align: center;
                            border-radius: 50%;
                            display: inline-grid;
                            place-content: center;
                            background-color: #FFDC23;
                            border: 3px solid #003D29;
                            color: var(--aq-common-black);
                        }
                    }
                }
                & .grc-header-bar{
                    color: var(--aq-common-white);
                }
                & .aq-header-top-account{
                    &-item{
                        gap: 10px;
                        display: flex;
                        align-items: center;
                    }
                    &-content{
                        line-height: 1;
                        text-align: start;
                        & span{
                            font-size: 14px;
                            line-height: 1;
                            font-weight: 500;
                            margin-bottom: 4px;
                            display: inline-block;
                            color: rgba(255, 255, 255, 0.60);
                        }
                        & p{
                            font-size: 15px;
                            margin: 0;
                            line-height: 1;
                            font-weight: 500;
                            color: var(--aq-common-white);
                        }
                    }
                }
            }
        }
    }
    &-menu{
        & nav{
            & ul{
                & li{
                    margin: 0px 22px;
                    list-style-type: none;
                    display: inline-block;
                    @media #{$xl}{
                        margin: 0 11px;
                    }
                    & a{
                        padding: 15px 0;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 1;
                        display: inline-block;
                        text-transform: uppercase;
                        color: var(--aq-common-white);
                        font-family: var(--aq-ff-satoshi-bold);
                    }
                }
            }
        }
        &.menu-height{
            &-62{
                & nav{
                    & ul{
                        & li{
                            & a{
                                padding: 23px 0;
                            }
                        }
                    }
                }
            }
            &-80{
                & nav{
                    & ul{
                        & li{
                            & a{
                                padding: 32px 0;
                            }
                        }
                    }
                }
            }
        }
        &.menu-black{
            & nav{
                & ul{
                    & li{
                        & a{
                            color: var(--aq-common-black);
                        }
                    }
                }
            }
        }
    }
    &-discount{
        &-item{
            & p{
                margin-bottom: 0;
                font-size: 14px;
                line-height: 10px;
                padding-bottom: 5px;
                color: var(--aq-common-white);
                font-family: var(--aq-ff-satoshi-medium);
            }
        }
    }
    &-style{
        &-3{
            & .aq-header-right-options > ul > li > button, 
            & .aq-header-right-options > ul > li > a {
                height: 54px;
                width: 54px;
                text-align: center;
                line-height: 54px;
                border-radius: 50px;
                display: inline-block;
                backdrop-filter: blur(5px);
                color: var(--aq-common-white);
                background: rgba(255, 255, 255, 0.10);
                &.aq-header-top-account{
                    background: none;
                }
                &.aq-header-3-search{
                    background: none;
                    backdrop-filter: blur(0px);
                }
            }  
            & .aq-header-right-options > ul > li.aq-header-top-account > a {
                background: none;
            }  
            & .aq-header-right-options > ul > li .count-box::after {
                display: none;
            }
            & .aq-header-right-options > ul > li .count-box {
                top: -6px;
                right: 3px;
                width: 24px;
                height: 24px;
                line-height: 22px;
            }
            & .aq-header-menu.menu-height-62 nav ul li > a {
                padding: 35px 0;
            }
            & .aq-header-right-options > ul > li:not(:last-child) {
                margin-right: 4px;
            }
            & .aq-header-top-menu-item:not(:last-child) {
                padding-right: 25px;
                margin-right: 0;
            }
            & .aq-header-top-menu-item:not(:last-child)::after {
                display: none;
            }
            & .aq-header-top-menu-item > span {
                font-size: 18px;
                color: var(--aq-common-white);
            }
        }
    }
    &-3{
        &-action{
            & button{
                color: var(--aq-common-white);
                &:not(:first-child){
                    margin-left: 28px;
                }
            }
        }
        &-arrow{
            & button{
                transform: translateY(-2px);
                color: var(--aq-common-white);
            }
        }
    }
    &-style{
        &-4{
            border-bottom: 1px solid rgba(1, 15, 28, 0.08);
            & .aq-header-right-options > ul > li .count-box {
                color: var(--aq-common-black);
                background-color: var(--aq-common-white);
            }
            & .aq-header-right-options > ul > li .count-box::after {
                display: none;
            }
        }
    }
    &-bar{
        position: relative;
        & span{
            display: block;
            height: 2px;
            width: 25px;
            margin: 5px 0;
            transition: all 0.3s ease-in-out;
            background-color: var(--aq-common-black);
            &:nth-child(1){
                width: 15px;
            }
            &:nth-child(3){
                width: 10px;
            }
        }
        &:hover{
            & span{
                &:nth-child(1){
                    width: 25px;
                }
                &:nth-child(2){
                    width: 15px;
                }
                &:nth-child(3){
                    width: 25px;
                } 
            }
        }
    }
    &-logo{
        @media #{$lg,$md,$xs}{
            padding: 15px 0;
        }
    }
    &-bottom{
        &-bdr{
            border-bottom: 1px solid rgba(29, 29, 29, 0.06);
        }
    }
}
