@use '../../../utils' as *;

/*----------------------------------------*/
/*  7.2 hero css
/*----------------------------------------*/

.aqf-banner{
    &-2{
        &-box{
            position: relative;
            &:hover{
                & .aqf-banner-2-thumb{
                    & img{
                        transform: scale(1.1);
                    }
                }
            }
        }
        &-thumb{
            overflow: hidden;
            & img{
                width: 100%;
                transition: all .5s ease-in-out;
            }
        }
        &-content{
            position: absolute;
            top: 50%;
            left: 0;
            padding: 50px;
            transform: translateY(-50%);
            @media #{$xl}{
                padding: 30px;
            }
            @media #{$lg}{
                padding: 20px;
            }
        }
    }
    &-3{
        &-style{
            & .aqf-banner-2-content {
                padding: 40px;
            }
            & .aqf-banner-2-content{
                & p{
                    font-size: 18px;
                    margin-bottom: 25px;
                    color: var(--aq-common-black);
                    font-family: var(--aq-ff-satoshi-regular);
                }
            }
            & .aq-btn-border {
                border-radius: 90px;
                color: var(--aq-common-black);
                border: 1px solid rgba(1, 15, 28, 0.14);
                background: rgba(255, 255, 255, 0.00);
                font-family: var(--aq-ff-satoshi-regular);
                &:hover{
                    color: var(--aq-common-white);
                    border-color: var(--aq-common-black);
                    background-color: var(--aq-common-black);
                }
            }
        }
    }
}

.elt-banner{
    &-style{
        &-3{
            & .aqf-banner-2-box{
                overflow: hidden;
                border-radius: 20px;
                border: 1px solid rgba($color: #0F0F0F, $alpha: 0.06);
                &:hover{
                    & .aqf-banner-2-thumb{
                        & img{
                            transform: scale(1.05);
                        }
                    }
                }
            }
            & .aqf-banner-2-content {
                position: absolute;
                width: 100%;
                top: 0;
                left: 50%;
                padding: 70px;
                transform: translateX(-50%);
            }
            & .aq-section-subtitle {
                font-size: 20px;
                font-weight: 400;
                font-family: var(--aq-ff-onest);
            }
            & .aqf-banner-2-thumb{
                overflow: hidden;
                & img{
                    transition: .9s;
                }
            }
        }
    }
    &-price{
        display: block;
        font-size: 20px;
        font-weight: 400;
        line-height: 14px;
        color: var(--aq-common-black);
        font-family: var(--aq-ff-onest);
    }
}


.cy-banner{
    &-style{
        & .aqf-banner-2-content {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            padding: 40px;
            margin: 0 auto;
            text-align: center;
            transform: translateY(0);
        }
        & .aq-section-subtitle {
            font-weight: 400;
            color: var(--aq-common-white);
            font-family: var(--aq-ff-onest);
        }
        & .aq-section-title {
            line-height: 1;
            font-size: 30px;
            color: var(--aq-common-white);
            font-family: var(--aq-ff-onest);
        }
        & .aq-btn-border{
            border: 1px solid rgba(255, 255, 255, 0.08);
        }
        &-3{
            & .aqf-banner-2-content {
                position: absolute;
                top: 0;
                left: 0;
                padding: 40px;
                transform: translateY(0);
            }
            & .aqf-banner-2-box{
                overflow: hidden;
                border-radius: 20px;
            }
            & .aq-section-subtitle {
                color: var(--aq-common-white);
                font-family: var(--aq-ff-onest);
            }
            & .aq-section-title {
                font-size: 40px;
                line-height: 1;
                font-weight: 600;
                letter-spacing: -0.4px;
                color: var(--aq-common-white);
                font-family: var(--aq-ff-onest);
            }
            & .aqf-banner-2-thumb{
                position: relative;
                &::after{
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba($color: #000000, $alpha: 0.2);
                }
            }
        }
    }
}

.cy-video{
    &-wrapper{
        height: 950px;
        & img{
            width: 100%;
            object-fit: cover;
        }
        &.cy-banner-style-3{
            & .aqf-banner-2-content{
                position: absolute;
                top: auto;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 80px;
                margin: 0 auto;
                text-align: center;
            }
        }
    }
}