@use '../../../utils' as *;

/*----------------------------------------*/
/*  7.2 fashion catrgories css
/*----------------------------------------*/

.aqf-categories{
    &-img{
        overflow: hidden;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        margin-bottom: 8px;
        display: inline-block;
        @media #{$xs}{
            height: 80px;
            width: 80px;
        }
        @media #{$sm}{
            height: 100px;
            width: 100px;
        }
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 1.5s cubic-bezier(0, 0, 0.44, 1.18);
        }
    }
    &-item{
        & span{
            font-size: 14px;
            display: block;
            font-weight: 500;
            margin-bottom: 3px;
            text-transform: uppercase;
            color: var(--aq-common-black);
            font-family: var(--aq-ff-satoshi);
            @include aq-transition();
            @media #{$xs}{
                font-size: 13px;
            }
        }
        & p{
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 0;
            line-height: 1.3;
            letter-spacing: 0.14px;
            color: var(--aq-common-black);
            font-family: var(--aq-ff-satoshi);
        }
        &:hover{
            & .aqf-categories-img {
                & img {
                    transform: scale(1.2);
                }
            }
            & span {
                color: var(--aq-common-coffee);
            }
        }
    }
    &-arrow{
        & button{
            position: absolute;
            top: 30%;
            left: -30px;
            z-index: 2;
            height: 46px;
            width: 46px;
            opacity: 0;
            visibility: hidden;
            border-radius: 50%;
            display: inline-block;
            background: var(--aq-common-white);
            box-shadow: 0 1px 2px 0 rgba(1, 15, 28, 0.20);
            @include aq-transition();
            &.aqf-categories-next{
                left: auto;
                right: -30px;
            }
            &:hover{
                color: var(--aq-common-white);
                border-color: var(--aq-common-black);
                background-color: var(--aq-common-black);
            }
        }
    }
    &-wrap{
        &:hover{
            & .aqf-categories-arrow{
                & button{
                    opacity: 1;
                    visibility: visible;
                    left: -22px;
                    &.aqf-categories-next{
                        left: auto;
                        right: -22px;
                    }
                }
            }
        }
    }
}

.aqf-collection {
    &-area{
        @media #{$xl}{
            padding-top: 80px;
        }
        @media #{$lg,$md,$xs}{
            padding-top: 70px;
            padding-bottom: 70px;
        }
    }
    &-item {
        background-color: var(--aq-gray-1);
        &:hover{
            & .aqf-collection-thumb{
                & img{
                    transform: scale(1.150);
                }
            } 
        }
    }
    &-title{
        font-size: 24px;
        font-weight: 500;
        line-height: 1.1;
        margin-bottom: 5px;
        color: var(--aq-common-black);
        font-family: var(--aq-ff-satoshi-medium);
    }
    &-content{
        padding-right: 30px;
        & span{
            font-size: 15px;
            line-height: 1;
            color: var(--aq-gray-2);
            font-family: var(--aq-ff-satoshi-medium);
        }
        &-wrap{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 30px;
        }
    }
    &-link{
        height: 44px;
        width: 44px;
        display: grid;
        place-content: center;
        text-align: center;
        display: inline-block;
        border-radius: 30px;
        color: var(--aq-common-black);
        background-color: var(--aq-common-white);
        & span{
            display: inline-block;
            transform: translate(1px, -1px);
        }
        &:hover{
            color: var(--aq-common-white);
            background-color: var(--aq-common-coffee);
        }
    }
    &-active{
        margin-right: -600px;
        @media #{$lg,$md,$xs}{
            margin-right: 0;
        }
    }
    &-thumb{
        overflow: hidden;
        & img {
            width: 100%;
            transition: .9s;
        }
    }
    &-top{
        @media #{$xs}{
            margin-bottom: 15px;
        }
    }
}

.aqf-category{
    &-2{
        &-content{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 2;
            margin: 50px;
            text-align: center;
        }
        &-overlay{
            position: relative;
            &::after{
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: rgba($color: #000000, $alpha: 0.24);
            }
        }
        &-thumb{
            overflow: hidden;
            & img{
                transition: .9s;
            }
        }
        &-item{
            box-shadow: 0 0 20px rgba(20, 20, 20, 0.14);
            &:hover{
                & .aqf-category-2-thumb{
                    & img{
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

.elt-categories{
    &-style{
        & .aqf-categories-img{
            height: 160px;
            width: 160px;
        }
        & .aqf-categories-item {
            display: inline-block;
            & span {
                font-size: 16px;
                font-weight: 500;
                text-transform: capitalize;
                font-family: var(--aq-ff-onest);
            }
        }
    }
    &-cupon{
        &-text{
            border-radius: 8px;
            padding: 15px 20px;
            border: 1px solid var(--aq-gray-5);
            & p{
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 0;
                font-family: var(--aq-ff-onest);
                & a{
                    font-weight: 500;
                    color: var(--aq-common-red);
                }
            }
        }
    }
}

