@use '../../../utils' as *;

/*----------------------------------------*/
/*  7.2 fashion deals css
/*----------------------------------------*/

.aqf-deals{
    &-area{
        @media #{$lg,$md,$xs}{
            padding-bottom: 70px;
        }
    }
    &-banner{
        &-content{
            position: absolute;
            top: 0;
            left: 0;
            padding: 45px 40px;
            @media #{$xs}{
                padding: 15px 20px;
            }
            & > span{
                font-size: 20px;
                line-height: 1;
                text-transform: uppercase;
                color: var(--aq-common-white);
                font-family: var(--aq--ff-satoshi-reg);
            }
        }
        &-btn{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 40px;
            @media #{$xs}{
                padding: 15px;
            }
        }
        &-wrap{
            height: 100%;
            @media #{$lg,$md,$xs}{
                margin-right: 0;
            }
        }
        &-thumb{
            height: 100%;
            position: relative;
            &::after{
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba($color: #1B0C04, $alpha: 0.1);
            }
            @media #{$md}{
                height: 720px;
            }
            & img{
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &-slider{
        &-active{
            margin-right: -244px;
            @media #{$xl,$lg,$md,$xs}{
                margin-right: 0;
            }
        }
        &-arrow{
            @media #{$lg,$md}{
                margin-right: 15px;
            }
            & button{
                color: var(--aq-common-black);
                &:hover{
                    color: var(--aq-common-coffee);
                }
            }
        }
        &-main{
            @media #{$xl}{
                padding-top: 50px;
                padding-bottom: 30px;
            }
            @media #{$md,$xs}{
                padding: 0;
                padding: 30px;
                padding-bottom: 0;
            }
        }
    }
}