@use '../../../utils' as *;

/*----------------------------------------*/
/*  7.2 hero css
/*----------------------------------------*/

.aqf-hero{
    &-content{
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        width: 100%;
        padding: 30px;
        transform: translate(-50%, -50%);
    }
    &-wrap{
        height: 780px;
        @media #{$x3l,$xxl}{
            height: 670px;
        }
        @media #{$xl}{
            height: 570px;
        }
        @media #{$lg}{
            height: 500px;
        }
        @media #{$md}{
            height: 400px;
        }
        @media #{$xs}{
            height: 600px;
        }
    }
    &-thumb{
        height: 100%;
        position: relative;
        &::after{
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #1B0C04, $alpha: 0.2);
        }
        & img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}
